/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
}

button {
  padding: 10px;
  border-radius: 4px;
  background-color: cadetblue;
  color: white;
  border: none;
  cursor: pointer;
}

h2 {
  font-size: 24px;
}

.bold {
  font-weight: bold;
}

.toast-container {
  margin-top: 60px;
}
